@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply text-white w-full h-full bg-neutral-900;
}

.content {
  @apply max-w-7xl px-4 sm:px-6 lg:px-8 mx-auto;
}

.nav-link-active {
  @apply text-white;
}

.nav-link-active:before {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  left: 9px;
  right: 9px;
  bottom: 0;
  border-bottom: 2px solid;
}
